* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #1d1e22;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.styling {
  display: flex;
  flex-basis: calc(50% - 0.5rem);
  background-color: #393f4d;
  font-size: 1.6rem;
  list-style-type: none;
  padding-inline: 1rem;
  padding-block: 3.5rem;
  border-radius: 1rem;
  border: 2px solid;
}
